<phpunit bootstrap="../bootstrap.php" colors="true" >
    <testsuites>
        <testsuite name = "cases">
            <!-- <directory suffix = "MainTest.php">cases</directory> -->
            <directory suffix = "PerformanceTest.php">cases</directory>
        </testsuite>
    </testsuites>
</phpunit>
